---
BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "false"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlines: Left
CompactNamespaces: "false"
ConstructorInitializerIndentWidth: "4"
ContinuationIndentWidth: "4"
Cpp11BracedListStyle: "true"
FixNamespaceComments: "true"
IndentWidth: "4"
NamespaceIndentation: All
ObjCBlockIndentWidth: "4"
PointerAlignment: Left
SortIncludes: "true"
SortUsingDeclarations: "true"
SpaceAfterLogicalNot: "false"
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: "2"
SpacesInSquareBrackets: "false"
Standard: Auto
TabWidth: "4"
UseTab: Never
ColumnLimit: 120
BinPackArguments: "false"
BinPackParameters: "false"
